[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cofeatureR"]
	path = cofeatureR
	url = https://github.com/tinyheero/cofeaturer
